$blue:      #1a237e;
$greyBg:    #eeeeee;
$greyBgAlt: #f5f5f5;
$greyText:  #fcfcfc;
$green:     #148084;
$greenBg:   #92c7c4;
$greenBgAlt:#dff4f2;

@mixin tableBorder() {
    border: 2px solid transparent;
    padding: .25em .75em;
}

.lpb-ue-name {
    @include tableBorder();
    background-color: $greenBg !important;
    color: white !important;
}

.lpb-container {
    display: flex;
    flex-direction: row;

    ul.lpb-diploma-list {
        width: 100%;
        padding-left: 0;

        .lpb-field {
            display: flex;
            flex-direction: column;
            overscroll-behavior: contain;

            &.active {
                .lpb-field-name {
                    background-color: transparent;
                    color: $blue;
                    padding-left: 0;
                    padding-right: 0;
                    border-bottom: 4px solid $blue;
                }

                .lpb-field-content {
                    display: block;
                    opacity: 1;
                }
            }

            .lpb-field-name {
                background-color: $blue;
                border-bottom: 4px solid transparent;
                color: white;
                transition: 0.2s all ease;
                padding-top: 10px;
                padding-bottom: 6px;
                padding-left: 15px;
                padding-right: 15px;
                margin: 10px 0;

                &:hover {
                    cursor: pointer;
                }
            }

            .lpb-field-content {
                display: none;
                opacity: 0;
                transition: 0.5s all ease;

                .lpb-diploma {
                    margin: 0.5em 0;

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        .lpb-diploma-name {
                            background-color: $green;
                            color: white;
                        }
                        .lpb-diploma-description {
                            display: flex;
                        }
                    }

                    .lpb-diploma-name {
                        flex-basis: 30%;
                        background-color: $greyBg;
                        color: $green;
                        padding: 10px 15px;
                        margin: 0;
                        font-size: 1.05em;
                    }

                    .lpb-diploma-description {
                        display: none;
                        flex: 1 0 30%;
                        padding-left: 1em;
                    }

                    .lpb-diploma-body {
                        display: none;

                        &.active {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }

    #lpb-modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.3);

        #lpb-modal-content {
            background-color: #fefefe;
            margin: 12% auto;
            padding: 20px;
            border: 1px solid $greyBg;
            width: 90%;

            #lpb-modal-close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;

                &:hover,
                &:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            #lpb-modal-content-body {
                h5 {
                    color: $blue;
                }

                .flex-table {
                    .column-wrapper {
                        margin-bottom: 3em;

                        .lpb-ue-name {
                            background-color: $blue;
                            font-size: 1.1em;
                            color: white;
                            padding: .5em .75em;
                            margin-top: 1.75em;
                            margin-bottom: 4px;
                        }

                        .column {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            flex-wrap: nowrap;

                            &:nth-child(even) {
                                background-color: $greyBgAlt;
                            }

                            &.header {
                                .th {
                                    border-width: 0 2px 0 2px;
                                    border-color: white;
                                    background-color: $greenBg;
                                    color: white;

                                    &:first-child {
                                        border-width: 0 2px 2px 0;
                                    }
                                    &:last-child {
                                        border-width: 0 0 2px 2px;
                                    }
                                }
                            }

                            .cell {
                                width: 25%;
                                border: 2px solid white;
                                padding: .25em .75em;
                                font-size: .85em;
                                @include tableBorder();
                                font-size: .85em;

                                &:first-child {
                                    width: 50%;
                                }
                                    
                                &.lpb-resource-name {
                                    font-size: 1em;
                                }

                                &.tbody-th {
                                    @include tableBorder();
                                    background-color: $greenBgAlt;
                                }
                            }                           
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    .flex-table {
        .column-wrapper {
            .column {
                display: flex;
                flex-direction: column !important;

                .cell {
                    width: 100% !important;
                }
            }
        }
    }
}
