$greyBg:    #eeeeee;
$greyText:  #fcfcfc;
$green:     #148084;
$greenBg:   #92c7c4;
$greenBgAlt:#dff4f2;

.lpb-container {
    display: flex;
    flex-direction: row;

    ul.lpb-diploma-list {
        width: 100%;
        padding-left: 0;

        .lpb-field {
            .lpb-diploma {
                .lpb-diploma-name {
                    background-color: $greyBg;
                    color: $green;
                    padding: 10px 15px;
            
                    &.active {
                        background-color: $green;
                        color: $green;
                    }
                }

                .lpb-diploma-body {
                    display: none;

                    table tr th,
                    table tr td {
                        border: 2px solid white;
                        padding: .25em .75em;
                    }

                    table {
                        thead {
                            tr {
                                th {
                                    background-color: $greenBg;
                                    color: white;
                                }
                            }
                        }
                        tbody {
                            tr {
                                th {
                                    background-color: $greenBgAlt;
                                }
                                td {
                                    font-size: .85em;
                                    &.lpb-resource-name {
                                        font-size: 1em;
                                    }
                                }
                                &:nth-child(even) {
                                    background-color: white;
                                }
                                &:nth-child(odd) {
                                    background-color: $greyBg;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section.lpb-body {
        width: 0%;
    }
}
