$greyBg:   #d8d8d8;
$greyText: #fcfcfc;
$green:    #148084;

.lpb-container {
    display: flex;
    flex-direction: row;

    ul.lpb-diploma-list {
        width: 100%;
        padding-left: 0;

        .diploma {
            background-color: $greyBg;
            color: $green;
            padding: 10px 15px;
    
            &.active {
                background-color: $green;
                color: $green;
            }

            table tr, 
            table tr th,
            table tr td {
                border: 1px solid $green;
            }
        }        
    }

    section.lpb-body {
        width: 0%;
    }
}
